<header class="container-masthead">
    <div class="row">

        <!-- SCHOOL LOGO AND NAME -->
        <div class="large-9 columns">

            <h1 class="logo">
                <a href="../index.html"
                   title="CSSouth ES"
                   rel="home">

                    <div id="textlogo-wrapper">

                        <div id="textlogo-image">
                            <img
                                alt="Claudio Sandoval South ES Official Logo"
                                src="../Images/Logo/csses 2 (ENHANCED).png"
                                height="100"
                                width="100"
                            >
                        </div>

                        <div id="textlogo-inner-wrapper">
                            <div id="agency-heading">
                                Republic of the Philippines
                            </div>

                            <div id="agency-name">
                              <strong> 170532 </strong> Claudio Sandoval South Elementary School
                            </div>

                            <div id="agency-tagline">
                                District of Coron Coastal | Schools Division Office of Palawan
                            </div>

                        </div>

                    </div>

                </a>
            </h1>

        </div>



    </div>
    <hr class="rounded">
</header>