
<!-- ==========================================
     CSSES SHARED NAVIGATION
     components/navigation.html
=========================================== -->

<div id="main-nav">

    <div class="row">

        <div class="large-12 columns">

            <nav class="top-bar-left">

                <ul class="dropdown menu" data-dropdown-menu>

                    <!-- GOVPH -->
                    <li class="nav-item">
                        <a
                            href="https://www.gov.ph/"
                            target="_blank"
                            style="font-size: 1.2rem;"
                        >
                            GOVPH
                        </a>
                    </li>


                    <!-- HOME -->
                    <li class="nav-item">
                        <a href="../index.html">
                            Home
                        </a>
                    </li>


                    <!-- ======================================
                         ABOUT US
                    ======================================= -->
                    <li class="nav-item has-dropdown">

                        <a href="">
                            About Us
                        </a>

                        <ul class="dropdown vertical menu">

                            <li>
                                <a href="">
                                    History
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    Mission Vision and Core Values
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    Organizational Chart
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    Contact Us
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- ======================================
                         SCHOOL PERSONNEL
                    ======================================= -->
                    <li class="nav-item has-dropdown">

                        <a href="">
                            School Personnel
                        </a>

                        <ul class="dropdown vertical menu">

                            <li>
                                <a href="under_maintenance.html">
                                    Principal
                                </a>
                            </li>

                            <li>
                                <a href="teaching.html">
                                    Teaching
                                </a>
                            </li>

                            <li>
                                <a href="under_maintenance.html">
                                    Non Teaching
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- ======================================
                         TRANSPARENCY BOARD
                    ======================================= -->
                    <li class="nav-item has-dropdown">

                        <a href="">
                            Transparency Board
                        </a>

                        <ul class="dropdown vertical menu">

                            <li>
                                <a href="">
                                    Annual Implementation Plan
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    Annual Procurement Plan (APP)
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    MOOE Report
                                </a>
                            </li>

                            <li>
                                <a href="under_maintenance.html">
                                    Records of Donation
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    FOI
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- ======================================
                         PROGRAMS, PROJECTS & ACCOMPLISHMENTS
                    ======================================= -->
                    <li class="nav-item has-dropdown">

                        <a href="">
                            Programs, Projects & Accomplishments
                        </a>

                        <ul class="dropdown vertical menu">


                            <!-- DEPED PROGRAMS -->
                            <li class="has-dropdown">

                                <a href="#">
                                    DepEd Programs
                                </a>

                                <ul class="dropdown vertical menu">

                                    <li>
                                        <a href="">
                                            Brigada Eskwela
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            BSP
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            GAD
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            GPP
                                        </a>
                                    </li>


                                    <!-- HEALTH SBFP -->
                                    <li class="has-dropdown">

                                        <a href="">
                                            Health – SBFP
                                        </a>

                                        <ul class="dropdown vertical menu">

                                            <li>
                                                <a href="">
                                                    One Health Week
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    Global Handwashing
                                                </a>
                                            </li>

                                        </ul>

                                    </li>


                                    <li>
                                        <a href="">
                                            Oplan Balik Eskwela
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            SDRRM
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            SLEG
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            YES-O
                                        </a>
                                    </li>

                                </ul>

                            </li>


                            <!-- SCHOOL PROGRAMS -->
                            <li class="has-dropdown">

                                <a href="#">
                                    School Programs & Projects
                                </a>

                                <ul class="dropdown vertical menu">

                                    <li>
                                        <a href="">
                                            Glamorizing Youth in Urban Gardening
                                        </a>
                                    </li>

                                    

                                </ul>

                            </li>

                        </ul>

                    </li>


                    <!-- ======================================
                         SCHOOL REPORT
                    ======================================= -->
                    <li class="nav-item has-dropdown">

                        <a href="">
                            School Report
                        </a>

                        <ul class="dropdown vertical menu">

                            <li>
                                <a href="">
                                    Annual Report
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    E-SRC
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    SMEA
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    SOSA
                                </a>
                            </li>

                        </ul>

                    </li>


                    <!-- ======================================
                         LRMS
                    ======================================= -->
                    <li class="nav-item">
                        <a href="LR.html">
                            LRMS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="Submission_Facility.html">
                            Submission Facility
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://reclassification.netlify.app/home">
                            Reclassification Simulator
                        </a>
                    </li>

                </ul>

            </nav>

        </div>

    </div>

</div>


<nav id="mySidenav" class="sidenav">

                <div style="padding:10px;" class="list-item"><form role="search" method="get" class="search-form" action="https://pves.depedpasay.ph/">
  		  <input type="search" class="search-field"
        placeholder="Search &hellip;"
        value="" name="s"
        title="Search for:">
</form>


</div>


	
    <ul style="list-style: none;">
        <li><a href="index.html">Home</a></li>
			<li><a href="">About  Us</a>
				<ul class="vertical menu">
						<li><a href="">History</a></li>
						<li><a href="M-V-CV.html">Mission Vision and Core Values</a></li>
						<li><a href="organizational-chart.html">Organizational Chart</a></li>
				</ul>
			</li>
			<li><a href="">School Personnel</a>
				<ul class="vertical menu">
					<li><a href="">Principal</a></li>
					<li><a href="teaching.html">Teaching</a></li>
					<li><a href="">Non Teaching</a></li>
				</ul>
			</li>
			<li><a href="">Transparency Board</a>
				<ul class="vertical menu">
						<li><a href="">Annual Implementation Plan</a>						</li>
						<li><a href="">Annual Procurement Plan (APP)</a>						</li>
						<li><a href="">MOOE Report</a></li>
						<li><a href="">Records of Donation</a></li>
						<li><a href="">FOI</a></li>
				</ul>
			</li>
			<li><a href="">Programs, Project &#038; Accomplishments</a>
				<ul class="vertical menu">
					<li><a href="#">DepEd Programs</a>
					<ul class="vertical menu">
						<li><a href="">Brigada Eskwela</a></li>
						<li><a href="">BSP</a></li>
						<li><a href="">GAD</a></li>
						<li><a href="">GPP</a></li>
						<li><a href="">Health – SBFP</a>
							<ul class="vertical menu">
								<li><a href="">One Health Week</a>								</li>
								<li><a href="">Global Handwashing</a>								</li>
							</ul>
						</li>
							<li><a href="">Oplan Balik Eskwela</a>							</li>
							<li><a href="">SDRRM</a>							</li>
							<li><a href="">SLEG</a>							</li>
							<li><a href="">YES-O</a>							</li>

						</ul>
						</li>
						<li><a href="#">School Programs &#038; Projects</a>
						<ul class="vertical menu">
							<li><a href="">Glamorizing Youth in Urban Gardening</a>							</li>
						</li>
						</ul>
						</li>
					</ul>
					</li>
					<li><a href="">School Report</a>
					<ul class="vertical menu">
						<li><a href="">Annual Report</a></li>
						<li><a href="">E-SRC</a></li>
						<li><a href="">SMEA</a></li>
						<li><a href="">SOSA</a></li>
					</ul>
					</li>
					<li >
						<a href="LR.html">LRMS</a></li>
                    <li >
						<a href="Submission_Facility.html">Submission Facility</a></li>
                            <li id="aux-offmenu" class="list-item">AUXILIARY MENU</li>
                    </ul>
</nav>